<div class="table-content">
    <div class="principal-content" #content>
        <div class="container-fluid">
            <div class="card-header card-header-foam mb-3">
                <h3>¡En esta guia encontraras las funcionalidades basicas de nuestra app, el resto te las dejamos a ti para que las descubras!</h3>
            </div>
            <mat-tab-group>
                <mat-tab label="¿Qué tengo?">
                    <div class="content">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Crea tu activo
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Agrega un apartamento, un vehiculo, una sociedad o cualquier otra inversion que tengas. Asignales un nombre y otro parametros basicos.     
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Modifica la ficha tecnica
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Aquí podras introducir el grueso de la informacion relacionada a un activo. Asigna y mapea desde contratos de arrendamientos hasta obligaciones financieras y administrativas. Tampoco olvides subir documentos relevantes como prediales, certificado de camara y comercio, tradicion y libertad y mucho más. Explora esta seccion con el boton “Visualizar Activo”
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Agrega y administra Recuerdames
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Cualquier obligacion o ingreso recurrente genera automaticamente un “Recuerdame”. Con esto te ayudamos a evitar sanciones por mora y tener todas tus fechas relevantes organizadas. Aquellos Recuerdames relacionados a Activos los puedes modificar con el boton “Recuerdame”
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Qué otras cosas me ofrece FOAM?
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Estamos comprometidos a mejorar la experiencia del usuario en FOAM, por esto trabajamos constantemente a sacar nuevas funcionalidades que nuestro usuarios nos pidan. ¿Pagar el predial desde la misma app? Contactar a un experto en valoracion de Inmuebles?. Contactanos a traves de Soporte y dejanos tu comentario. 
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>
                <mat-tab label="Recuerdame">
                    <div class="content">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Recuerdames Automaticos
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Cualquier fecha ingresada relacionada a un activo, generara automaticamente un Recuerdame. Visualizala en nuestro calendario y modificala directamente desde el activo.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Recuerdame Personalizado
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Desde el calendario de Recuerdame podras agregar cualquier fecha relevante y recibir una notificacion para recordarte. Nunca más olvides un cumpleaños, un aniversario o cualquier otra fecha.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Notificaciones
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Recibiras una notificacion en el panel cada vez que se te venza un Recuerdame, pronto podras recibir estas notificaciones por el canal que desees.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>
                <mat-tab label="Mis Documentos">
                    <div class="content">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Un espacio construido para tí
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Mis Documentos fue creado pensando en tí; consolida y administra tu certificado de nacimiento, pasaportes, visas y más. Aquí priorizamos la flexibilidad, utiliza este espacio para hacerte la vida más facil.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Recuerdames
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p class="descrip">
                                    Qué seria este espacio sin Recuerdames, agrega fechas de vencimiento/renovacion y recibe notificaciones cuando llegue el momento. 
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
