.table-content {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

  .principal-content {
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .card-header-foam {
          background: #345589;
          border-radius: 3px;
          margin-top: -20px;
          padding: 15px;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 136, 0.4);
          display: flex;
          align-items: center;
          justify-content: end;
        }
        
        .descrip {
          padding: 10px;
          color: #4f6883;
          border: solid;
          border-radius: 10px;
        }

        .content {
            margin-top: 10px;
        }
    }
}
