<div class="table-content">
    <div class="principal-content" #content>
        <div class="container-fluid">
            <div class="card-header card-header-foam mb-3">
                <h3>Preguntas frecuentes</h3>
            </div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Qué es FOAM App?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        FOAM es un poderosa plataforma que te permite consolidar, organizar y controlar tu informacion de manera segura. Agrega diferentes activos y hasta sociedades, asignales fechas relacionadas a ingresos u obligaciones y permitenos hacerte la vida más facil. 
                        Recuerda, consolida, organiza y controla con FOAM.      
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Como puedo solicitar un reembolso?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        Es facil! Contactanos a traves del boton de Soporte y nos comunicaremos contigo. Aplican Terminos y Condiciones.    
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mi información esta segura con FOAM App?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        Somos conscientes que tu informacion es privada y es sensible. Por esto, cumplimos con la normativa colombiana de tratamiento de datos y proteccion al consumidor. Ademas, toda informacion en la plataforma se encuentra encriptada y almacenada en la nube más segura del mundo, Amazon Web Services.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Qué otras cosas me ofrece FOAM?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        Estamos comprometidos a mejorar la experiencia del usuario en FOAM, por esto trabajamos constantemente a sacar nuevas funcionalidades que nuestro usuarios nos pidan. ¿Pagar el predial desde la misma app? Contactar a un experto en valoracion de Inmuebles?. Contactanos a traves de Soporte y dejanos tu comentario. 
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Como funciona FOAM App?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        No te preocupes, creamos un manual de uso para que aprendas facil y rapidamente a usar FOAM. Accede a traves de manual que se encuentra en tu dashboard.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Necesito ayuda con mi FOAM App, a quien puedo contactar?
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="descrip">
                        Te ayudamos! Contactanos ya usando el boton de Soporte en el menu izquierdo.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
