.center-content {
    background: #fff;
    width: 100%;
    min-height: 37rem;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    padding: 0;

    .fondo-img {
        background-image: url(/assets/img/fondologin.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo-img {
        margin: 0px auto;

        img {
            width: 160px;
        }
    }

    .formulario {
        width: 90%;
        margin: 3rem auto;

        .buttonGoogle {
            margin: 2rem auto;
            text-align: center;

            .gobtn {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .separator {
            display: flex;
            align-items: center;
            justify-content: center;

            hr {
                width: 200px;
                height: 0px;
                background: #000;
            }

            p {
                color: #000;
            }
        }

        h2 {
            color: #1C3477;
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .problems {
            cursor: pointer;
            color: #34558a;
            font-size: 14px;
        }

        .registry {
            padding: 15px;
        }

        form {
            margin: 25px;

            .loginbutton {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 300px;
                    border-radius: 10px;
                    background: #ef8354ff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    font-weight: 600;
                    color: #fff;
                    height: 45px;
                }
            }

            .text-center {
                text-align: center;
            }

            .forgotPassword {
                text-align: end;
                width: 80%;
                margin: 1rem auto;

                .forgot {
                    cursor: pointer;
                    color: #34558a;
                    font-size: 14px;
                }
            }

            .mat-form-field {
                width: 80%;
                margin: auto;

                ::ng-deep .mat-form-field-flex {
                    border-radius: 10px;
                    border: 2px solid #E0E0E0;
                    background: #FEFEFE;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    color: #000;
                }

                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }
        }
    }

    .card-footer {
        text-align: end;
    }
}

.containerterms {
    width: 100px;
}