<app-loader *ngIf="loader"></app-loader>
<div class="center-content" *ngIf="!loader">
    <div class="card-body">
        <div class="logo-img">
            <img src="/assets/img/namelogo.png"/>
        </div>
        <div class="formulario">
            <h2>Consolida y controla tu patrimonio de manera fácil y segura.</h2>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Inicio de sesión">
                    <div class="buttonGoogle">
                        <div #googleBtn id="buttonDiv" class="gobtn"></div>
                    </div>
                    <div class="separator">
                        <hr>
                        <p>ó</p>
                        <hr>
                    </div>
                    <form id="loginform" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Correo Electrónico</mat-label>
                                <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email">
                                <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </p>
                            <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                </mat-form-field>
                            </p>
                            <div class="forgotPassword">
                                <a (click)="forgotPassword()" class="forgot">¿Olvidaste tu contraseña?</a>
                            </div>
                            <div class="loginbutton">
                                <button mat-stroked-button color="primary" type="submit"><i class="material-icons">login</i> Iniciar Sesión</button>
                            </div>
                    </form>
                </mat-tab>
                <mat-tab label="¿No tienes cuenta?">
                    <div class="registry">
                        <form id="registryForm" autocomplete="off" [formGroup]="registryForm" (ngSubmit)="registry()">
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Tu primer nombre</mat-label>
                                    <input matInput placeholder="Nombre" formControlName="first_name">
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Tu primer apellido</mat-label>
                                    <input matInput placeholder="Apellido" formControlName="firs_last_name">
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email">
                                    <mat-icon matSuffix>alternate_email</mat-icon>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </p>
                            <div class="containerterms">                                
                                <p class="text-center"><mat-checkbox formControlName="termsAcceptance" color="primary">Autorizo a FOAM APLICACIONES S.A.S. (en adelante “FOAM”) para que lleve a cabo el <br> Tratamiento de mis Datos Personales de conformidad con su Política de Privacidad. <br>Confirmo que he leído y acepto los términos expuestos en la<a href="https://res.cloudinary.com/dxu4itmfa/image/upload/v1701228348/Poli%CC%81tica_de_Privacidad_2024_m603av.pdf" target="_blank"> Política de Privacidad.</a></mat-checkbox></p>
                            </div>
                            <div class="loginbutton">
                                    <button mat-stroked-button class="testp" color="primary" type="submit"><i class="material-icons">login</i> Continuar</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="card-footer">
                <div class="stats">
                    <a (click)="openDialog()" class="problems">¿Tienes problemas con la plataforma?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="fondo-img">
    </div>
</div>