<app-loader *ngIf="loader"></app-loader>
<div class="table-content" *ngIf="!loader">
    <div class="principal-content">
        <div class="container-fluid">
            <div class="row">
                <div class="card-header card-header-foam">
                    <button mat-raised-button (click)="nuevo()">Nuevo Registro <i class="material-icons">add_circle</i></button>
                </div>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                    <mat-tab label="Bienes inmuebles">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis inmuebles</mat-label>
                                        <input matInput (keyup)="applyFilterInmueble($event)" placeholder="Ex. Apartamento" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="inmuebles" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let inmueble"> {{inmueble.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- Nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                            <td mat-cell *matCellDef="let inmueble"> {{inmueble.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- Matricula -->
                                            <ng-container matColumnDef="matricula inmobiliaria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Matrícula inmobiliaria </th>
                                            <td mat-cell *matCellDef="let inmueble"> {{inmueble.matricula_inmobiliaria}} </td>
                                            </ng-container>

                                            <!-- Ubicacion -->
                                            <ng-container matColumnDef="ubicacion">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
                                            <td mat-cell *matCellDef="let inmueble"> {{inmueble.ubicacion}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let inmueble">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(inmueble)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(inmueble)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(inmueble)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Vehiculos">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis vehículos</mat-label>
                                        <input matInput (keyup)="applyFilterVehiculo($event)" placeholder="Ex. Carro" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="vehiculos" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- Nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                            <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- Tarjeta de Propiedad -->
                                            <ng-container matColumnDef="tarjeta de propiedad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarjeta de Propiedad </th>
                                            <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.tarjeta_propiedad}} </td>
                                            </ng-container>

                                            <!-- Ubicacion -->
                                            <ng-container matColumnDef="ubicacion">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
                                            <td mat-cell *matCellDef="let vehiculo"> {{vehiculo.ubicacion}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let vehiculo">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(vehiculo)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(vehiculo)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(vehiculo)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsVehiculos"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsVehiculos;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Sociedades">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis sociedades</mat-label>
                                        <input matInput (keyup)="applyFilterSociedad($event)" placeholder="Ex. Foam" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="sociedades" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let sociedad"> {{sociedad.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- razon social -->
                                            <ng-container matColumnDef="razon social">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon social </th>
                                            <td mat-cell *matCellDef="let sociedad"> {{sociedad.razon_social}} </td>
                                            </ng-container>
                                        
                                            <!-- nit -->
                                            <ng-container matColumnDef="nit">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nit </th>
                                            <td mat-cell *matCellDef="let sociedad"> {{sociedad.nit}} </td>
                                            </ng-container>

                                            <!-- Ubicacion -->
                                            <ng-container matColumnDef="ubicacion">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
                                            <td mat-cell *matCellDef="let sociedad"> {{sociedad.ubicacion}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let sociedad">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(sociedad)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(sociedad)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(sociedad)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsSociedad"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsSociedad;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Polizas de Seguro">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis pólizas</mat-label>
                                        <input matInput (keyup)="applyFilterPoliza($event)" placeholder="Ex. Foam" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="polizas" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let poliza"> {{poliza.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let poliza"> {{poliza.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- activo -->
                                            <ng-container matColumnDef="activo">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo o Persona Asegurada </th>
                                            <td mat-cell *matCellDef="let poliza"> {{poliza.activo_persona_asegurada}} </td>
                                            </ng-container>

                                            <!-- compañia -->
                                            <ng-container matColumnDef="compañia">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Compañia </th>
                                            <td mat-cell *matCellDef="let poliza"> {{poliza.aseguradora}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let poliza">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(poliza)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(poliza)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(poliza)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPoliza"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPoliza;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Inversiones">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis inversiones</mat-label>
                                        <input matInput (keyup)="applyFilterInversion($event)" placeholder="Ex. inversion" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="inversiones" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let inversion"> {{inversion.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let inversion"> {{inversion.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- entidad -->
                                            <ng-container matColumnDef="entidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad  </th>
                                            <td mat-cell *matCellDef="let inversion"> {{inversion.entidad}} </td>
                                            </ng-container>

                                            <!-- valor -->
                                            <ng-container matColumnDef="valor">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Valor de inversion inicial </th>
                                            <td mat-cell *matCellDef="let inversion"> {{inversion.valor_inversion_inicial}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let inversion">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(inversion)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(inversion)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(inversion)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsInversion"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsInversion;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Productos bancarios">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis productos bancarios</mat-label>
                                        <input matInput (keyup)="applyFilterPbancario($event)" placeholder="Ex. tarjeta banco central" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="productos_bancarios" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let pbancario"> {{pbancario.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let pbancario"> {{pbancario.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- entidad -->
                                            <ng-container matColumnDef="entidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad financiera </th>
                                            <td mat-cell *matCellDef="let pbancario"> {{pbancario.entidad_financiera}} </td>
                                            </ng-container>

                                            <!-- numproducto -->
                                            <ng-container matColumnDef="numproducto">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de producto  </th>
                                            <td mat-cell *matCellDef="let pbancario"> {{pbancario.num_producto}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let pbancario">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(pbancario)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(pbancario)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(pbancario)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPbancario"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPbancario;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Prestamos">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis préstamos</mat-label>
                                        <input matInput (keyup)="applyFilterPrestamo($event)" placeholder="Ex. prestamo" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="prestamos" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- entidad o persona -->
                                            <ng-container matColumnDef="entidad o persona">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad o persona  </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.entidad_persona}} </td>
                                            </ng-container>

                                            <!-- valor -->
                                            <ng-container matColumnDef="valor">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.valor}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let prestamo">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(prestamo)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(prestamo)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(prestamo)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPrestamo"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPrestamo;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Salarios">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis salarios</mat-label>
                                        <input matInput (keyup)="applyFilterSalario($event)" placeholder="Ex. nomina" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="salarios" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let salario"> {{salario.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let salario"> {{salario.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- entidad o persona -->
                                            <ng-container matColumnDef="entidad o persona">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad o persona  </th>
                                            <td mat-cell *matCellDef="let salario"> {{salario.entidad_persona}} </td>
                                            </ng-container>

                                            <!-- valor -->
                                            <ng-container matColumnDef="valor">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                            <td mat-cell *matCellDef="let salario"> {{salario.valor}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let salario">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(salario)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(salario)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(salario)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsSalario"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsSalario;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Membresias/Suscripciones">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Buscar en mis membresias</mat-label>
                                        <input matInput (keyup)="applyFilterMembresia($event)" placeholder="Ex. gimnasio" #input>
                                    </mat-form-field>
                                        
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="membresias" matSort>
                                        
                                            <!-- Subcategorias -->
                                            <ng-container matColumnDef="subcategoria">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoría </th>
                                            <td mat-cell *matCellDef="let membresia"> {{membresia.subcategoria}} </td>
                                            </ng-container>
                                        
                                            <!-- nombre -->
                                            <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / Referencia </th>
                                            <td mat-cell *matCellDef="let membresia"> {{membresia.nombre}} </td>
                                            </ng-container>
                                        
                                            <!-- ubicacion -->
                                            <ng-container matColumnDef="ubicacion">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </th>
                                            <td mat-cell *matCellDef="let membresia"> {{membresia.ubicacion}} </td>
                                            </ng-container>

                                            <!-- entidad -->
                                            <ng-container matColumnDef="entidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </th>
                                            <td mat-cell *matCellDef="let membresia"> {{membresia.entidad}} </td>
                                            </ng-container>
        
                                            <!-- Acciones -->
                                            <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                            <td mat-cell *matCellDef="let membresia">
                                                <div class="actions">
                                                    <i class="material-icons" (click)="openPutActivo(membresia)">visibility</i>
                                                    <i class="material-icons" (click)="deleteActivo(membresia)">delete</i>
                                                    <i class="material-icons" (click)="openRemember(membresia)">alarm_on</i>
                                                </div>
                                            </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsMembresia"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsMembresia;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
      </div>      
</div>
