<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        Patrimony
                    </a>
                </li>
                <li>
                    <a href="https://res.cloudinary.com/dxu4itmfa/image/upload/v1701228348/Poli%CC%81tica_de_Privacidad_2024_m603av.pdf" target="_blank">
                        Política de Privacidad
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, desarrollado por
            <a href="https://www.vcode.com.co" target="_blank">Vcode Colombia</a>.
        </div>
    </div>
</footer>
