<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Foam
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        Soporte
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, desarrollado por
            <a href="https://www.vcode.com.co" target="_blank">Vcode Colombia</a>.
        </div>
    </div>
</footer>
