/* .no-index {
    z-index: -1;
} */

.notifications:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 137, 0.4);
    background-color: #345589;
    color: #FFFFFF;
}

.notifications {
    text-align: center;
    font-size: 12px;
    line-height: 2;
    border: 1px solid #34558926;
    cursor: pointer;
}

.notifications p {
    margin: 0;
}

.dropdown-menu {
    height: 150px;
    overflow-y: scroll;
    width: 220px;
}

.name {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 1rem 0;
    color: #345589;
    font-weight: 600;
}