<h2 mat-dialog-title>Nuevo {{title}}</h2>
<mat-dialog-content>
    <div class="form Ingresos" *ngIf="ingresos">
        <form id="ingreso_form" [formGroup]="ingreso_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre del contrato</mat-label>
                        <input matInput placeholder="Contrato de arrendamiento" formControlName="nombre_contrato" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre arrendatario</mat-label>
                        <input matInput placeholder="Jose Rodriguez" formControlName="nombre_arrendatario">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Canon</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="canon">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form servpublicos" *ngIf="servicios_publicos">
        <form id="servicio_publico_form" [formGroup]="servicio_publico_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de servicio</mat-label>
                        <mat-select formControlName="tipo_servicio" >
                            <mat-option *ngFor="let servicio of serviciosPTypes" [value]="servicio.value">{{servicio.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Numero de referencia</mat-label>
                        <input matInput placeholder="J12345a" formControlName="num_referencia">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form servcontratados" *ngIf="servicios_contratados">
        <form id="servicio_contratado_form" [formGroup]="servicio_contratado_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de servicio</mat-label>
                        <mat-select formControlName="tipo_servicio" >
                            <mat-option *ngFor="let servicio of serviciosPTypes" [value]="servicio.value">{{servicio.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Numero de referencia</mat-label>
                        <input matInput placeholder="J12345a" formControlName="num_referencia">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Ingreso Vehicular" *ngIf="ingresosVehiculo">
        <form id="ingreso_form" [formGroup]="ingresoVehiculo_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre del ingreso</mat-label>
                        <input matInput placeholder="Uber" formControlName="nombre_ingreso" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre arrendatario</mat-label>
                        <input matInput placeholder="Jose Rodriguez" formControlName="nombre_arrendatario">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Impuesto Vehicular" *ngIf="impuestosVehiculo">
        <form id="ingreso_form" [formGroup]="impuestoVehiculo_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre del impuesto</mat-label>
                        <input matInput placeholder="Uber" formControlName="nombre_impuesto" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Prestamo Vehicular" *ngIf="prestamosVehiculo">
        <form id="ingreso_form" [formGroup]="prestamoVehiculo_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre del prestador</mat-label>
                        <input matInput placeholder="Uber" formControlName="prestador" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor_pago">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Notas</mat-label>
                        <input matInput placeholder="Ejemplo" formControlName="notas" >
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Impuesto Sociedad" *ngIf="impuestosSociedad">
        <form id="impuesto_sociedad" [formGroup]="impuestoSociedad_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre del impuesto</mat-label>
                        <input matInput placeholder="Uber" formControlName="nombre_impuesto" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Renovacion Sociedad" *ngIf="renovacionesSociedad">
        <form id="renovacion_sociedad" [formGroup]="renovacionSociedad_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Uber" formControlName="nombre" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Obligacion Sociedad" *ngIf="obligacionesSociedad">
        <form id="obligacion_sociedad" [formGroup]="obligacionSociedad_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Uber" formControlName="nombre" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Pagos Primas Poliza" *ngIf="pagosPrimas">
        <form id="pagos_primas_poliza" [formGroup]="pagosPrimas_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput type="number" placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Ingreso Recurrente" *ngIf="ingresosSalario">
        <form id="ingreso_recurrente" [formGroup]="ingresoRecurrente_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form Egreso Recurrente" *ngIf="egresosRecurrente">
        <form id="egreso_recurrente" [formGroup]="egresoRecurrente_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput placeholder="12000000" formControlName="valor">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de moneda</mat-label>
                        <mat-select formControlName="tipo_moneda" >
                            <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de pago</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_pago">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Periocidad de pago</mat-label>
                        <mat-select formControlName="periocidad" >
                            <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form contactos" *ngIf="contactos">
        <form id="contactos_form" [formGroup]="contactos_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Juan" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Empresa</mat-label>
                        <input matInput placeholder="Company S.A.S" formControlName="empresa">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="6018632530" formControlName="telefono">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="312582563" formControlName="celular">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput placeholder="Ejemplo@ejemplo.com" formControlName="correo">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form files" *ngIf="files">
        <form id="files_form" [formGroup]="files_form">
            <div class="subtitle">
                <h3>Datos principales</h3>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="categoria" (selectionChange)="onCategoriaChange($event.value)">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Subcategoría</mat-label>
                        <mat-select formControlName="subcategoria" (selectionChange)="onSubCategoriaChange()">
                            <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.value">{{subcategoria.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre / Referencia</mat-label>
                        <input matInput placeholder="Ex. Documento 1" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Numero de Documento</mat-label>
                        <input matInput placeholder="123456789" formControlName="documento">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Notas</mat-label>
                        <input matInput placeholder="Este es mi documento" formControlName="notas">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <input matInput type="file" formControlName="file" (change)="cargarFile($event.target.files[0])">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form eventos" *ngIf="eventos">
        <form id="eventos_form" [formGroup]="eventos_form">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nota</mat-label>
                        <input matInput placeholder="Nota" formControlName="nota">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="form todos" *ngIf="todos">
        <form id="todos_form" autocomplete="off" [formGroup]="todos_form">
            <div class="row">
                <div class="col-6">
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="nombre">
                            <mat-icon matSuffix>notification_important</mat-icon>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()" class="crear cancel">Cancelar</button>
    <button mat-stroked-button color="primary" (click)="adicionar()" class="crear">Crear</button>
</mat-dialog-actions>