.crear {
    width: 140px;
    border-radius: 10px;
    background: #ef8354;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    color: #fff;
    height: 35px;
}

.cancel {
    background: #bdbdbd !important;
  }