<app-loader *ngIf="loader"></app-loader>
<div class="table-content" *ngIf="!loader">
    <div class="principal-content">
        <div class="container-fluid">
            <div class="card-header card-header-foam mb-3">
                <h3>Ficha técnica: {{sociedad.subcategoria}} {{sociedad.razon_social}}</h3>
            </div>
            <div class="editButton">
                <button *ngIf="!edicion" mat-stroked-button color="primary" (click)="editFicha()" class="crear">Editar Ficha Técnica</button>
                <button *ngIf="edicion" mat-stroked-button color="primary" type="submit" (click)="guardar()" class="crear">Guardar Ficha Técnica</button>
            </div>
            <mat-accordion>
                <!-- Parametros generales -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Parámetros generales
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Razon Social</mat-label>
                            <input matInput placeholder="FOAM" [disabled]="!edicion" [(ngModel)]="sociedad.razon_social">
                        </mat-form-field>
                        </div>
                        <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Nit</mat-label>
                            <input matInput placeholder="123456-7" [disabled]="!edicion" [(ngModel)]="sociedad.nit">
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Ubicación</mat-label>
                                <input matInput placeholder="Bogota" [disabled]="!edicion" [(ngModel)]="sociedad.ubicacion">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo de sociedad</mat-label>
                                <input matInput placeholder="S.A.S" [disabled]="!edicion" [(ngModel)]="sociedad.tipo_sociedad">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Notas</mat-label>
                                <textarea matInput placeholder="Este es un ejemplo de notas" [disabled]="!edicion" [(ngModel)]="sociedad.notas"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- Obligaciones -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Obligaciones
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                            <mat-tab label="Impuestos">
                                <h2 class="mt-4">Impuestos</h2>
                                <hr>
                                <div class="plus">
                                    <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('impuestosSociedad')" [ngStyle]="{ 'background-color': colorBoton }">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field>
                                    <mat-label>Buscar en impuestos</mat-label>
                                    <input matInput (keyup)="applyFilterImpuestos($event)" #input>
                                </mat-form-field>
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="impuestos" matSort>
                                    
                                        <!-- Nombre impuesto -->
                                        <ng-container matColumnDef="Nombre impuesto">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre impuesto </th>
                                        <td mat-cell *matCellDef="let impuesto"> {{impuesto.nombre_impuesto}} </td>
                                        </ng-container>
                                    
                                        <!-- Fecha de pago -->
                                        <ng-container matColumnDef="Fecha de pago">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                        <td mat-cell *matCellDef="let impuesto"> {{impuesto.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                        </ng-container>
                        
                                        <!-- Periocidad -->
                                        <ng-container matColumnDef="Periocidad">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                        <td mat-cell *matCellDef="let impuesto"> {{impuesto.periocidad}} </td>
                                        </ng-container>
                        
                                        <!-- Valor -->
                                        <ng-container matColumnDef="Valor">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                        <td mat-cell *matCellDef="let impuesto"> {{impuesto.valor}} </td>
                                        </ng-container>

                                        <!-- Tipo moneda -->
                                        <ng-container matColumnDef="Tipo moneda">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                                        <td mat-cell *matCellDef="let impuesto"> {{impuesto.tipo_moneda}} </td>
                                        </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsImpuestos"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsImpuestos;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                </div>
                            </mat-tab>
                            <mat-tab label="Renovaciones administrativas y documentarias">
                                <h2 class="mt-4">Renovaciones administrativas y documentarias</h2>
                                <hr>
                                <div class="plus">
                                    <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('renovacionesSociedad')" [ngStyle]="{ 'background-color': colorBoton }">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field>
                                    <mat-label>Buscar en Renovaciones</mat-label>
                                    <input matInput (keyup)="applyFilterRenovaciones($event)" #input>
                                </mat-form-field>
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="renovaciones" matSort>
                                    
                                        <!-- Nombre -->
                                        <ng-container matColumnDef="Nombre">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                        <td mat-cell *matCellDef="let renovacion"> {{renovacion.nombre}} </td>
                                        </ng-container>
                                    
                                        <!-- Fecha de pago -->
                                        <ng-container matColumnDef="Fecha de pago">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                        <td mat-cell *matCellDef="let renovacion"> {{renovacion.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                        </ng-container>
                        
                                        <!-- Periocidad -->
                                        <ng-container matColumnDef="Periocidad">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                        <td mat-cell *matCellDef="let renovacion"> {{renovacion.periocidad}} </td>
                                        </ng-container>
                        
                                        <!-- Valor -->
                                        <ng-container matColumnDef="valor">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                        <td mat-cell *matCellDef="let renovacion"> {{renovacion.valor}} </td>
                                        </ng-container>

                                        <!-- Moneda -->
                                        <ng-container matColumnDef="Moneda">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                                        <td mat-cell *matCellDef="let renovacion"> {{renovacion.tipo_moneda}} </td>
                                        </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRenovaciones"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRenovaciones;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                </div>
                            </mat-tab>
                            <mat-tab label="Obligaciones Laborales">
                                <h2 class="mt-4">Obligaciones Laborales</h2>
                                <hr>
                                <div class="plus">
                                    <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('obligacionesSociedad')" [ngStyle]="{ 'background-color': colorBoton }">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                                <mat-form-field>
                                    <mat-label>Buscar en Obligaciones</mat-label>
                                    <input matInput (keyup)="applyFilterObligaciones($event)" #input>
                                </mat-form-field>
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="obligaciones" matSort>
                                    
                                        <!-- Nombre -->
                                        <ng-container matColumnDef="Nombre">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                        <td mat-cell *matCellDef="let obligacion"> {{obligacion.prestador}} </td>
                                        </ng-container>
                                    
                                        <!-- Fecha de pago -->
                                        <ng-container matColumnDef="Fecha de pago">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                        <td mat-cell *matCellDef="let obligacion"> {{obligacion.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                        </ng-container>
                        
                                        <!-- Periocidad -->
                                        <ng-container matColumnDef="Periocidad">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                        <td mat-cell *matCellDef="let obligacion"> {{obligacion.periocidad}} </td>
                                        </ng-container>
                        
                                        <!-- Valor -->
                                        <ng-container matColumnDef="valor">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                        <td mat-cell *matCellDef="let obligacion"> {{obligacion.valor}} </td>
                                        </ng-container>

                                        <!-- Moneda -->
                                        <ng-container matColumnDef="Moneda">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                                        <td mat-cell *matCellDef="let obligacion"> {{obligacion.tipo_moneda}} </td>
                                        </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnObligaciones"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnObligaciones;"></tr>
                                    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-expansion-panel>

                <!-- Personas -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personas
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="plus">
                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('contactos')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>Buscar en personas</mat-label>
                        <input matInput (keyup)="applyFilterContactos($event)" placeholder="Pedro" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="contactos" matSort>
                        
                            <!-- Nombre -->
                            <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
                            </ng-container>
                        
                            <!-- Empresa -->
                            <ng-container matColumnDef="Empresa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.empresa}} </td>
                            </ng-container>
                        
                            <!-- Telefono -->
                            <ng-container matColumnDef="Telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.telefono}} </td>
                            </ng-container>

                            <!-- Celular -->
                            <ng-container matColumnDef="Celular">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.celular}} </td>
                            </ng-container>

                            <!-- Correo -->
                            <ng-container matColumnDef="Correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.correo}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsContactos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsContactos;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </mat-expansion-panel>

                <!-- Documentos -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Documentos
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="plus">
                        <button mat-mini-fab [disabled]="!edicion" color="primary" (click)="openInsert('files')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>Buscar en documentos de {{sociedad.subcategoria}} {{sociedad.nombre}}</mat-label>
                        <input matInput (keyup)="applyFilterDocumentos($event)" placeholder="Ex." #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="documentos" matSort>
                        
                            <!-- Nombre del documento -->
                            <ng-container matColumnDef="Nombre del documento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del documento </th>
                            <td mat-cell *matCellDef="let documento"> {{documento.name}} </td>
                            </ng-container>

                            <!-- Acciones -->
                            <ng-container matColumnDef="Acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let documento"> 
                                <a href="{{documento.path}}" download>Ver documento</a>
                            </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="aditional-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="encab">
                        <h1>Eventos</h1>
                        <mat-icon matSuffix>event</mat-icon>
                    </div>
                    <div class="plus mb-3">
                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('eventos')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>Buscar en eventos</mat-label>
                        <input matInput (keyup)="applyFilterEventos($event)" placeholder="Buscar" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="eventos" matSort>
                        
                            <!-- Nota -->
                            <ng-container matColumnDef="Nota">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
                            <td mat-cell *matCellDef="let evento"> {{evento.nota}} </td>
                            </ng-container>
                    
                            <!-- Fecha -->
                            <ng-container matColumnDef="Fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let evento"> {{evento.fecha | date:'dd/MM/yyyy'}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsEventos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsEventos;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </div>
                <div class="col-6">
                    <div class="encab">
                        <h1>To-Do</h1>
                        <mat-icon matSuffix>checklist</mat-icon>
                    </div>
                    <div class="plus mb-5">
                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('todos')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="todos" matSort>
                        
                            <!-- State -->
                            <ng-container matColumnDef="State">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let todo">
                                <mat-checkbox class="example-margin" [disabled]="!edicion" [(ngModel)]="todo.state" color="primary"> {{ todo.state ? 'Listo' : 'Por hacer' }} </mat-checkbox>
                              </td>
                            </ng-container>
                            
                            <!-- Nombre -->
                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let todo"> {{todo.nombre}} </td>
                            </ng-container>

                            <!-- Fecha -->
                            <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                <td mat-cell *matCellDef="let todo"> {{todo.fecha | date:'dd/MM/yyyy'}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTodos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTodos;"></tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
