<app-loader *ngIf="loader"></app-loader>
<div class="table-content" *ngIf="!loader">
    <div class="principal-content">
        <div class="container-fluid">
            <div class="card-header card-header-foam mb-3">
                <h3>Ficha técnica: {{prestamo.subcategoria}} {{prestamo.nombre}}</h3>
            </div>
            <div class="editButton">
                <button *ngIf="!edicion" mat-stroked-button color="primary" (click)="editFicha()" class="crear">Editar Ficha Técnica</button>
                <button *ngIf="edicion" mat-stroked-button color="primary" type="submit" (click)="guardar()" class="crear">Guardar Ficha Técnica</button>
            </div>
            <mat-accordion>
                <!-- Parametros generales -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Parámetros generales
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre / Referencia</mat-label>
                            <input matInput placeholder="FOAM" [disabled]="!edicion" [(ngModel)]="prestamo.nombre">
                        </mat-form-field>
                        </div>
                        <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Ubicacion</mat-label>
                            <input matInput placeholder="Sura" [disabled]="!edicion" [(ngModel)]="prestamo.ubicacion">
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Entidad o persona </mat-label>
                                <input matInput [disabled]="!edicion" [(ngModel)]="prestamo.entidad_persona">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Valor</mat-label>
                                <input matInput [disabled]="!edicion" [(ngModel)]="prestamo.valor">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Notas</mat-label>
                                <textarea matInput placeholder="Este es un ejemplo de notas" [disabled]="!edicion" [(ngModel)]="prestamo.notas"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- Ingresos -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ingresos
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                            <mat-tab label="Cobro de cuotas">
                                <h2 class="mt-4">Cobro de cuotas</h2>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Fecha de pago</mat-label>
                                            <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="cobro_cuotas.fecha_pago">
                                            <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickercuoadm></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Periocidad de pago</mat-label>
                                            <mat-select [(ngModel)]="cobro_cuotas.periocidad" [disabled]="!edicion">
                                                <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Valor de pago</mat-label>
                                            <input matInput [disabled]="!edicion" [(ngModel)]="cobro_cuotas.valor_pago">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Tipo de moneda</mat-label>
                                            <mat-select [(ngModel)]="cobro_cuotas.tipo_moneda" [disabled]="!edicion">
                                                <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-expansion-panel>

                <!-- Obligaciones -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Obligaciones
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container">
                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                            <mat-tab label="Pago de cuotas">
                                <h2 class="mt-4">Pago de cuotas</h2>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Fecha de pago</mat-label>
                                            <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="pago_cuotas.fecha_pago">
                                            <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickercuoadm></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Periocidad de pago</mat-label>
                                            <mat-select [(ngModel)]="pago_cuotas.periocidad" [disabled]="!edicion">
                                                <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Valor de pago</mat-label>
                                            <input matInput [disabled]="!edicion" [(ngModel)]="pago_cuotas.valor_pago">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Tipo de moneda</mat-label>
                                            <mat-select [(ngModel)]="pago_cuotas.tipo_moneda" [disabled]="!edicion">
                                                <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-expansion-panel>

                <!-- Personas -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personas
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="plus">
                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('contactos')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>Buscar en personas</mat-label>
                        <input matInput (keyup)="applyFilterContactos($event)" placeholder="Pedro" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="contactos" matSort>
                        
                            <!-- Nombre -->
                            <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
                            </ng-container>
                        
                            <!-- Empresa -->
                            <ng-container matColumnDef="Empresa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.empresa}} </td>
                            </ng-container>
                        
                            <!-- Telefono -->
                            <ng-container matColumnDef="Telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.telefono}} </td>
                            </ng-container>

                            <!-- Celular -->
                            <ng-container matColumnDef="Celular">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.celular}} </td>
                            </ng-container>

                            <!-- Correo -->
                            <ng-container matColumnDef="Correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                            <td mat-cell *matCellDef="let contacto"> {{contacto.correo}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsContactos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsContactos;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </mat-expansion-panel>

                <!-- Documentos -->
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Documentos
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="plus">
                        <button mat-mini-fab [disabled]="!edicion" color="primary" (click)="openInsert('files')" [ngStyle]="{ 'background-color': colorBoton }">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <mat-form-field>
                        <mat-label>Buscar en documentos de {{prestamo.subcategoria}} {{prestamo.nombre}}</mat-label>
                        <input matInput (keyup)="applyFilterDocumentos($event)" placeholder="Ex." #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="documentos" matSort>
                        
                            <!-- Nombre del documento -->
                            <ng-container matColumnDef="Nombre del documento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del documento </th>
                            <td mat-cell *matCellDef="let documento"> {{documento.name}} </td>
                            </ng-container>

                            <!-- Acciones -->
                            <ng-container matColumnDef="Acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let documento"> 
                                <a href="{{documento.path}}" download>Ver documento</a>
                            </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
                        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
