<app-loader *ngIf="loader"></app-loader>
    <div class="table-content" *ngIf="!loader">
        <div class="principal-content">
            <div class="container-fluid">
                <div class="card-header card-header-foam mb-3">
                    <h3>Documentos de {{user.first_name}}</h3>
                </div>
                <div class="editButton">
                    <button mat-stroked-button color="primary" type="submit" (click)="openInsert('files')">Cargar documento</button>
                </div>

                <mat-form-field>
                    <mat-label>Buscar en en todos mis documentos</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cedula" #input>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="documentos" matSort>

                        <!-- Categoria -->
                        <ng-container matColumnDef="Categoria">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                        <td mat-cell *matCellDef="let documento"> {{documento.categoria}} </td>
                        </ng-container>

                        <!-- Subcategoria -->
                        <ng-container matColumnDef="Subcategoria">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoria </th>
                        <td mat-cell *matCellDef="let documento"> {{documento.subcategoria}} </td>
                        </ng-container>
                    
                        <!-- Nombre del documento -->
                        <ng-container matColumnDef="Nombre del documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del documento </th>
                        <td mat-cell *matCellDef="let documento"> {{documento.name}} </td>
                        </ng-container>

                        <!-- Numero del documento -->
                        <ng-container matColumnDef="Documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de documento </th>
                        <td mat-cell *matCellDef="let documento"> {{documento.documento}} </td>
                        </ng-container>

                        <!-- Notas -->
                        <ng-container matColumnDef="Notas">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notas </th>
                        <td mat-cell *matCellDef="let documento"> {{documento.notas}} </td>
                        </ng-container>

                        <!-- Acciones -->
                        <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let documento"> 
                            <div class="actions">
                                <a href="{{documento.path}}" download><i class="material-icons">visibility</i></a>
                                <!-- <i class="material-icons" (click)="openEdit(documento)">edit</i> -->
                                <i class="material-icons" (click)="deleteDocument(documento)">delete</i>
                                <i class="material-icons" (click)="openRemember(documento)">alarm_on</i>
                            </div>
                        </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                </div>
            </div>
        </div>
    </div>