.table-content {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

  .principal-content {
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .card-header-foam {
          background: #345589;
          border-radius: 3px;
          margin-top: -20px;
          padding: 15px;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 136, 0.4);
          display: flex;
          align-items: center;
          justify-content: end;
        }

        .editButton {
          margin-bottom: 10px;
          display: flex;
          align-items: end;
          justify-content: end;

          button {
            width: 150px;
            border-radius: 10px;
            background: #ef8354;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-weight: 600;
            color: #fff;
            height: 45px;
          }
          
        }

        .mat-tab-header {
          margin-bottom: 2rem !important;
        }

        .porcentajeactivo {
          display: flex;
          align-items: center;
          justify-content: center;
      
          .porcen {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -1rem;
          }
        }

.plus {
    display: flex;
    align-items: end;
    justify-content: end;
    button {
      background: #ef8354;
      color: #fff;
    }
  }

        .container {
          padding: 10px;
        }

        table {
          width: 100%;
        }
        
        .mat-mdc-form-field {
          font-size: 14px;
          width: 100%;
        }
        
        td, th {
          width: 20%;
        }
  
        .actions {
          display: flex;
          align-items: center;
  
          i {
            color: #ef8354;
            cursor: pointer;
          }
        }
    }
}

#modal .modal-backdrop {
  background-color: #00000070 !important;
}
