<app-loader *ngIf="loader"></app-loader>
    <div class="table-content" *ngIf="!loader">
        <div class="principal-content">
            <div class="container-fluid">
                <div class="card-header card-header-foam mb-3">
                    <h3>Ficha técnica: {{vehiculo.subcategoria}} {{vehiculo.nombre}}</h3>
                </div>
                <div class="editButton">
                    <button *ngIf="!edicion" mat-stroked-button color="primary" (click)="editFicha()" class="crear">Editar Ficha Técnica</button>
                    <button *ngIf="edicion" mat-stroked-button color="primary" type="submit" (click)="guardar()" class="crear">Guardar Ficha Técnica</button>
                </div>
                <mat-accordion>
                    <!-- Parametros generales -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Parámetros generales
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Subcategoría</mat-label>
                                <input matInput placeholder="Carro" [disabled]="!edicion" [(ngModel)]="vehiculo.subcategoria">
                            </mat-form-field>
                            </div>
                            <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre/Referencia</mat-label>
                                <input matInput placeholder="Audi" [disabled]="!edicion" [(ngModel)]="vehiculo.nombre">
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Tarjeta de propiedad</mat-label>
                                    <input matInput placeholder="abc123" [disabled]="!edicion" [(ngModel)]="vehiculo.tarjeta_propiedad">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Ubicación</mat-label>
                                    <input matInput placeholder="Bogota" [disabled]="!edicion" [(ngModel)]="vehiculo.ubicacion">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <mat-label>¿Pertenece a una sociedad?</mat-label>
                                <mat-select [(ngModel)]="vehiculo.sociedad_boolean" [disabled]="!edicion" (selectionChange)="onSociedadChange($event.value)">
                                    <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">{{opcion.viewValue}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="col-6">
                                <div *ngIf="nomSociedad">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecciona la sociedad</mat-label>
                                        <mat-select [(ngModel)]="vehiculo.nombre_sociedad" [disabled]="!edicion">
                                            <mat-option *ngFor="let sociedad of sociedades" [value]="sociedad.value">{{sociedad.viewValue}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div *ngIf="nomSociedad" class="porcentajeactivo">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Participación de activo</mat-label>
                                            <input matInput placeholder="50%" [(ngModel)]="vehiculo.participacion" [disabled]="!edicion">
                                    </mat-form-field>
                                    <div class="porcen">
                                        <h3>%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <!-- Ingresos -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ingresos
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('ingresosVehiculo')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en los ingresos del vehículo</mat-label>
                            <input matInput (keyup)="applyFilterIngresos($event)" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="ingresos" matSort>
                            
                                <!-- Nombre ingreso -->
                                <ng-container matColumnDef="Nombre del ingreso">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del ingreso </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.nombre_ingreso}} </td>
                                </ng-container>
                            
                                <!-- Nombre arrendatario -->
                                <ng-container matColumnDef="Nombre arrendatario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre arrendatario </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.nombre_arrendatario}} </td>
                                </ng-container>
                            
                                <!-- valor -->
                                <ng-container matColumnDef="valor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.valor}} </td>
                                </ng-container>

                                <!-- Tipo moneda -->
                                <ng-container matColumnDef="Moneda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.tipo_moneda}} </td>
                                </ng-container>

                                <!-- Fecha de pago -->
                                <ng-container matColumnDef="Fecha de pago">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <!-- Periocidad -->
                                <ng-container matColumnDef="Periocidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.periocidad}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsIngresos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsIngresos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>

                    <!-- Obligaciones -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Obligaciones
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                                <mat-tab label="Impuesto de Rodamiento">
                                    <h2 class="mt-4">Impuesto de Rodamiento</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickerimppre"  [(ngModel)]="impuesto_rodamiento.fecha_pago" [disabled]="!edicion">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerimppre"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerimppre></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="impuesto_rodamiento.periocidad" [disabled]="!edicion" >
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="impuesto_rodamiento.valor_pago" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="impuesto_rodamiento.tipo_moneda" [disabled]="!edicion" >
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="SOAT">
                                    <h2 class="mt-4">SOAT</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="soat.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="soat.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="soat.valor_pago">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="soat.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Tecnomecánica">
                                    <h2 class="mt-4">Tecnomecánica</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="tecnomecanica.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="tecnomecanica.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="tecnomecanica.valor_pago">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="tecnomecanica.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Poliza de seguro voluntario ">
                                    <h2 class="mt-4">Poliza de seguro voluntario </h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Empresa aseguradora</mat-label>
                                                <input matInput placeholder="Sura" [disabled]="!edicion" [(ngModel)]="poliza_seguro_voluntario.nombre_empresa">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="poliza_seguro_voluntario.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="poliza_seguro_voluntario.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="poliza_seguro_voluntario.valor_pago">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="poliza_seguro_voluntario.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Kit de carretera">
                                    <h2 class="mt-4">Kit de carretera</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de vencimiento</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="kit_carretera.fecha_vencimiento">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Estacionamiento">
                                    <h2 class="mt-4">Estacionamiento</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="estacionamiento.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="estacionamiento.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="estacionamiento.valor_pago">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="estacionamiento.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Prestamos / Deuda ">
                                    <h2 class="mt-4">Prestamos / Deuda </h2>
                                    <hr>
                                    <div class="plus">
                                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('prestamosVehiculo')" [ngStyle]="{ 'background-color': colorBoton }">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                    <mat-form-field>
                                        <mat-label>Buscar en prestamos</mat-label>
                                        <input matInput (keyup)="applyFilterPrestamos($event)" #input>
                                    </mat-form-field>
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="prestamos" matSort>
                                        
                                            <!-- Nombre del prestador -->
                                            <ng-container matColumnDef="Nombre del prestador">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del prestador </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.prestador}} </td>
                                            </ng-container>
                                        
                                            <!-- Fecha de pago -->
                                            <ng-container matColumnDef="Fecha de pago">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                            </ng-container>
                            
                                            <!-- Periocidad -->
                                            <ng-container matColumnDef="Periocidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.periocidad}} </td>
                                            </ng-container>
                            
                                            <!-- Valor -->
                                            <ng-container matColumnDef="Valor">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.valor_pago}} </td>
                                            </ng-container>

                                            <!-- Tipo moneda -->
                                            <ng-container matColumnDef="Tipo moneda">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.tipo_moneda}} </td>
                                            </ng-container>

                                            <!-- Notas -->
                                            <ng-container matColumnDef="Notas">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notas </th>
                                            <td mat-cell *matCellDef="let prestamo"> {{prestamo.notas}} </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnPrestamos"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnPrestamos;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Impuestos">
                                    <h2 class="mt-4">Impuestos</h2>
                                    <hr>
                                    <div class="plus">
                                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('impuestosVehiculo')" [ngStyle]="{ 'background-color': colorBoton }">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                    <mat-form-field>
                                        <mat-label>Buscar en impuestos</mat-label>
                                        <input matInput (keyup)="applyFilterImpuestos($event)" #input>
                                    </mat-form-field>
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="impuestos" matSort>
                                        
                                            <!-- Nombre impuesto -->
                                            <ng-container matColumnDef="Nombre impuesto">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre impuesto </th>
                                            <td mat-cell *matCellDef="let impuesto"> {{impuesto.nombre_impuesto}} </td>
                                            </ng-container>
                                        
                                            <!-- Fecha de pago -->
                                            <ng-container matColumnDef="Fecha de pago">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                            <td mat-cell *matCellDef="let impuesto"> {{impuesto.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                            </ng-container>
                            
                                            <!-- Periocidad -->
                                            <ng-container matColumnDef="Periocidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                            <td mat-cell *matCellDef="let impuesto"> {{impuesto.periocidad}} </td>
                                            </ng-container>
                            
                                            <!-- Valor -->
                                            <ng-container matColumnDef="Valor">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                            <td mat-cell *matCellDef="let impuesto"> {{impuesto.valor}} </td>
                                            </ng-container>

                                            <!-- Tipo moneda -->
                                            <ng-container matColumnDef="Tipo moneda">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Moneda </th>
                                            <td mat-cell *matCellDef="let impuesto"> {{impuesto.tipo_moneda}} </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsImpuestos"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsImpuestos;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </mat-expansion-panel>

                    <!-- Personas -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personas
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('contactos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en personas</mat-label>
                            <input matInput (keyup)="applyFilterContactos($event)" placeholder="Pedro" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="contactos" matSort>
                            
                                <!-- Nombre -->
                                <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
                                </ng-container>
                            
                                <!-- Empresa -->
                                <ng-container matColumnDef="Empresa">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.empresa}} </td>
                                </ng-container>
                            
                                <!-- Telefono -->
                                <ng-container matColumnDef="Telefono">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.telefono}} </td>
                                </ng-container>

                                <!-- Celular -->
                                <ng-container matColumnDef="Celular">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.celular}} </td>
                                </ng-container>

                                <!-- Correo -->
                                <ng-container matColumnDef="Correo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.correo}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsContactos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsContactos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>

                    <!-- Documentos -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Documentos
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab [disabled]="!edicion" color="primary" (click)="openInsert('files')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en documentos de {{vehiculo.subcategoria}} {{vehiculo.nombre}}</mat-label>
                            <input matInput (keyup)="applyFilterDocumentos($event)" placeholder="Ex. Carro" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="documentos" matSort>
                            
                                <!-- Nombre del documento -->
                                <ng-container matColumnDef="Nombre del documento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del documento </th>
                                <td mat-cell *matCellDef="let documento"> {{documento.name}} </td>
                                </ng-container>

                                <!-- Acciones -->
                                <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let documento"> 
                                    <a href="{{documento.path}}" download>Ver documento</a>
                                </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="aditional-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="encab">
                            <h1>Eventos</h1>
                            <mat-icon matSuffix>event</mat-icon>
                        </div>
                        <div class="plus mb-3">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('eventos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en eventos</mat-label>
                            <input matInput (keyup)="applyFilterEventos($event)" placeholder="Buscar" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="eventos" matSort>
                            
                                <!-- Nota -->
                                <ng-container matColumnDef="Nota">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
                                <td mat-cell *matCellDef="let evento"> {{evento.nota}} </td>
                                </ng-container>
                        
                                <!-- Fecha -->
                                <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                <td mat-cell *matCellDef="let evento"> {{evento.fecha | date:'dd/MM/yyyy'}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsEventos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsEventos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="encab">
                            <h1>To-Do</h1>
                            <mat-icon matSuffix>checklist</mat-icon>
                        </div>
                        <div class="plus mb-5">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('todos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="todos" matSort>
                            
                                <!-- State -->
                                <ng-container matColumnDef="State">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let todo">
                                    <mat-checkbox class="example-margin" [disabled]="!edicion" [(ngModel)]="todo.state" color="primary"> {{ todo.state ? 'Listo' : 'Por hacer' }} </mat-checkbox>
                                  </td>
                                </ng-container>

                                <!-- Nombre -->
                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                    <td mat-cell *matCellDef="let todo"> {{todo.nombre}} </td>
                                </ng-container>

                                <!-- Fecha -->
                                <ng-container matColumnDef="Fecha">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                    <td mat-cell *matCellDef="let todo"> {{todo.fecha | date:'dd/MM/yyyy'}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsTodos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsTodos;"></tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
