.table-content {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

  .principal-content {
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .card-header-foam {
          background: #345589;
          border-radius: 3px;
          margin-top: -20px;
          padding: 15px;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 136, 0.4);
          display: flex;
          align-items: center;
          justify-content: end;
        }

        .editButton {
          margin-bottom: 10px;
          display: flex;
          align-items: end;
          justify-content: end;
        }

        .mat-tab-header {
          margin-bottom: 2rem !important;
        }

        .porcentajeactivo {
          display: flex;
          align-items: center;
          justify-content: center;
      
          .porcen {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -1rem;
          }
        }

.plus {
    display: flex;
    align-items: end;
    justify-content: end;
    button {
      background: #ef8354;
      color: #fff;
    }
  }

        .container {
          padding: 10px;
        }

        table {
          width: 100%;
        }
        
        .mat-mdc-form-field {
          font-size: 14px;
          width: 100%;
        }
        
        td, th {
          width: 20%;
        }
  
        .actions {
          display: flex;
          align-items: center;
  
          i {
            color: #ef8354;
            cursor: pointer;
          }
        }
    }
}

#modal .modal-backdrop {
  background-color: #00000070 !important;
}


.aditional-content {
  width: 90%;
  margin: auto;

  h1 {
    font-size: 30px;
    text-align: center;
    color: #ef8355;
  }

  table {
    width: 100%;
  }

  .encab {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      color: #ef8355;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1.5);
      margin-left: 20px;
    }
  }

  .plus {
    button {
      background: #ef8354;
      color: #fff;
    }
  }
}

  /* Cambia el color cuando está marcado */
  .mat-checkbox-checked .mat-checkbox-inner-container {
    background-color: #000;
  }