<div class="center-content">
    <div class="card-body">
        <div class="logo-img">
            <img src="/assets/img/namelogo.png"/>
        </div>
        <div class="account">
            <P>Ya tienes cuenta? <a (click)="back()">Iniciar Sesión</a></P>
        </div>
        <div class="principal">
            <div class="back" (click)="back()">
                <p><i class="material-icons">arrow_back</i> Regresar</p>
            </div>
            <h2>Te hemos enviado un código a tu correo! Verifica tu cuenta y empecemos!</h2>
            <div class="input-verify">
                <mat-form-field appearance="fill">
                    <mat-label>Código de Vertificación</mat-label>
                    <input matInput placeholder="123456789" [(ngModel)]="codeVerify">
                </mat-form-field>
            </div>
            <div class="loginbutton">
                <button mat-stroked-button class="testp" color="primary" type="submit" (click)="verifyAccount()">Empecemos!</button>
            </div>
            <div class="card-footer">
                <p>No recibiste tu código?</p>
                <ul>
                    <li>Revisa tu carpeta de Spam</li>
                    <li><a class="problems">Reenviar código a “insertar correo”</a></li>
                    <li (click)="openDialog()">Contactanos</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fondo-img">
    </div>
</div>