<app-loader *ngIf="loader"></app-loader>
<div class="center-content">
    <div class="card-body">
        <div class="logo-img">
            <img src="/assets/img/namelogo.png"/>
        </div>
        <div class="principal">
            <div class="back" (click)="back()">
                <p><i class="material-icons">arrow_back</i> Regresar</p>
            </div>
            <h2>Cambio de contraseña</h2>
            <div class="input-verify">
                <mat-form-field appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div class="input-verify">
                <mat-form-field appearance="fill">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordtwo">
                </mat-form-field>
            </div>
            <div class="loginbutton">
                <button mat-stroked-button class="testp" color="primary" type="submit" (click)="changePassword()">Confirmar</button>
            </div>
        </div>
    </div>
    <div class="fondo-img">
    </div>
</div>