<app-loader *ngIf="loader"></app-loader>
    <div class="table-content" *ngIf="!loader">
        <div class="principal-content" #content>
            <div class="container-fluid">
                <div class="card-header card-header-foam mb-3">
                    <h3>Ficha técnica: {{inmueble.subcategoria}} {{inmueble.nombre}}</h3>
                </div>
                <div class="editButton">
                    <!-- <button mat-stroked-button color="primary" class="mr-3" type="submit" (click)="generateCsv()" class="crear">Generar Exportable</button> -->
                    <button *ngIf="!edicion" mat-stroked-button color="primary" (click)="editFicha()" class="crear">Editar Ficha Técnica</button>
                    <button *ngIf="edicion" mat-stroked-button color="primary" type="submit" (click)="guardar()" class="crear">Guardar Ficha Técnica</button>
                </div>
                <mat-accordion>
                    <!-- Parametros generales -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Parámetros generales
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Subcategoría</mat-label>
                                <input matInput placeholder="Ejemplo S.A.S" [disabled]="!edicion" [(ngModel)]="inmueble.subcategoria">
                            </mat-form-field>
                            </div>
                            <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre/Referencia</mat-label>
                                <input matInput placeholder="Ejemplo S.A.S" [disabled]="!edicion" [(ngModel)]="inmueble.nombre">
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Matrícula inmobiliaria</mat-label>
                                    <input matInput placeholder="Ejemplo S.A.S" [disabled]="!edicion" [(ngModel)]="inmueble.matricula_inmobiliaria">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Ubicación</mat-label>
                                    <input matInput placeholder="Ejemplo S.A.S" [disabled]="!edicion" [(ngModel)]="inmueble.ubicacion">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <mat-label>¿Pertenece a una sociedad?</mat-label>
                                <mat-select [(ngModel)]="inmueble.sociedad_boolean" [disabled]="!edicion" (selectionChange)="onSociedadChange($event.value)">
                                    <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">{{opcion.viewValue}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="col-6">
                                <div *ngIf="nomSociedad">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecciona la sociedad</mat-label>
                                        <mat-select [(ngModel)]="inmueble.nombre_sociedad" [disabled]="!edicion">
                                            <mat-option *ngFor="let sociedad of sociedades" [value]="sociedad.value">{{sociedad.viewValue}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div *ngIf="nomSociedad" class="porcentajeactivo">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Participación de activo</mat-label>
                                            <input matInput placeholder="50%" [(ngModel)]="inmueble.participacion" [disabled]="!edicion">
                                    </mat-form-field>
                                    <div class="porcen">
                                        <h3>%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <!-- Ingresos -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ingresos
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('ingresos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en mis ingresos</mat-label>
                            <input matInput (keyup)="applyFilterIngresos($event)" placeholder="Ex. Carro" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="ingresos" matSort>
                            
                                <!-- Nombre contrato -->
                                <ng-container matColumnDef="Nombre contrato">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre contrato </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.nombre_contrato}} </td>
                                </ng-container>
                            
                                <!-- Nombre arrendatario -->
                                <ng-container matColumnDef="Nombre arrendatario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre arrendatario </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.nombre_arrendatario}} </td>
                                </ng-container>
                            
                                <!-- Canon -->
                                <ng-container matColumnDef="Canon">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Canon </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.canon}} </td>
                                </ng-container>

                                <!-- Tipo moneda -->
                                <ng-container matColumnDef="Moneda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.tipo_moneda}} </td>
                                </ng-container>

                                <!-- Fecha de pago -->
                                <ng-container matColumnDef="Fecha de pago">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <!-- Periocidad -->
                                <ng-container matColumnDef="Periocidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                <td mat-cell *matCellDef="let ingreso"> {{ingreso.periocidad}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsIngresos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsIngresos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>

                    <!-- Obligaciones -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Obligaciones
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                                <mat-tab label="Impuesto Predial">
                                    <h2 class="mt-4">Impuesto predial</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickerimppre"  [(ngModel)]="impuestoPredial.fecha_pago" [disabled]="!edicion">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerimppre"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerimppre></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="impuestoPredial.periocidad" [disabled]="!edicion" >
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="impuestoPredial.valor_pago" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="impuestoPredial.tipo_moneda" [disabled]="!edicion" >
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Cuota Administración">
                                    <h2 class="mt-4">Cuota Administración</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickercuoadm" [disabled]="!edicion" [(ngModel)]="cuotaAdministracion.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickercuoadm">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickercuoadm></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="cuotaAdministracion.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="cuotaAdministracion.valor_pago">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="cuotaAdministracion.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Servicios Públicos">
                                    <h2 class="mt-4">Servicios Públicos</h2>
                                    <hr>
                                    <div class="plus">
                                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('servpublicos')" [ngStyle]="{ 'background-color': colorBoton }">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                    <mat-form-field>
                                        <mat-label>Buscar en servicios públicos</mat-label>
                                        <input matInput (keyup)="applyFilterServicios($event)" placeholder="Agua" #input>
                                    </mat-form-field>
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="servicios_publicos" matSort>
                                        
                                            <!-- Tipo servicio -->
                                            <ng-container matColumnDef="Tipo servicio">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo servicio </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.tipo_servicio}} </td>
                                            </ng-container>
                                        
                                            <!-- Fecha de pago -->
                                            <ng-container matColumnDef="Fecha de pago">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                            </ng-container>
                            
                                            <!-- Periocidad -->
                                            <ng-container matColumnDef="Periocidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.periocidad}} </td>
                                            </ng-container>
                            
                                            <!-- Numero referencia -->
                                            <ng-container matColumnDef="Numero referencia">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero referencia </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.num_referencia}} </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Servicios Contratados">
                                    <h2 class="mt-4">Servicios Contratados</h2>
                                    <hr>
                                    <div class="plus">
                                        <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('servcontratados')" [ngStyle]="{ 'background-color': colorBoton }">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                    <mat-form-field>
                                        <mat-label>Buscar en servicios contratados</mat-label>
                                        <input matInput (keyup)="applyFilterContratados($event)" placeholder="Agua" #input>
                                    </mat-form-field>
                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="servicios_contratados" matSort>
                                        
                                            <!-- Tipo servicio -->
                                            <ng-container matColumnDef="Tipo servicio">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo servicio </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.tipo_servicio}} </td>
                                            </ng-container>
                                        
                                            <!-- Fecha de pago -->
                                            <ng-container matColumnDef="Fecha de pago">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de pago </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.fecha_pago | date:'dd/MM/yyyy'}} </td>
                                            </ng-container>
                            
                                            <!-- Periocidad -->
                                            <ng-container matColumnDef="Periocidad">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Periocidad </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.periocidad}} </td>
                                            </ng-container>
                            
                                            <!-- Numero referencia -->
                                            <ng-container matColumnDef="Numero referencia">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero referencia </th>
                                            <td mat-cell *matCellDef="let servicio"> {{servicio.num_referencia}} </td>
                                            </ng-container>
                                        
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                            </tr>
                                        </table>
                                        
                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Prestamos / Deuda ">
                                    <h2 class="mt-4">Prestamos / Deuda </h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Prestador</mat-label>
                                                <input matInput placeholder="Juan" [disabled]="!edicion" [(ngModel)]="prestamoDeuda.prestador">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="pickerpresdeu" [disabled]="!edicion" [(ngModel)]="prestamoDeuda.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="pickerpresdeu">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #pickerpresdeu></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="prestamoDeuda.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor de pago</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="prestamoDeuda.valor_pago">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="prestamoDeuda.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Notas</mat-label>
                                                <textarea matInput placeholder="Ejemplo de nota" [disabled]="!edicion" [(ngModel)]="prestamoDeuda.notas"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Poliza de seguro voluntario ">
                                    <h2 class="mt-4">Poliza de seguro voluntario </h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Prestador</mat-label>
                                                <input matInput placeholder="Juan" [disabled]="!edicion" [(ngModel)]="polizaSeguro.prestador">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Fecha de pago</mat-label>
                                                <input matInput [matDatepicker]="picker" [disabled]="!edicion" [(ngModel)]="polizaSeguro.fecha_pago">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Periocidad de pago</mat-label>
                                                <mat-select [(ngModel)]="polizaSeguro.periocidad" [disabled]="!edicion">
                                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Valor de pago</mat-label>
                                                <input matInput placeholder="2000000" type="number" [disabled]="!edicion" [(ngModel)]="polizaSeguro.valor_pago">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Tipo de moneda</mat-label>
                                                <mat-select [(ngModel)]="polizaSeguro.tipo_moneda" [disabled]="!edicion">
                                                    <mat-option *ngFor="let moneda of monedaTypes" [value]="moneda.value">{{moneda.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Notas</mat-label>
                                                <textarea matInput placeholder="Ejemplo de nota" [disabled]="!edicion" [(ngModel)]="polizaSeguro.notas"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </mat-expansion-panel>

                    <!-- Contactos -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personas
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('contactos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en personas</mat-label>
                            <input matInput (keyup)="applyFilterContactos($event)" placeholder="Pedro" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="contactos" matSort>
                            
                                <!-- Nombre -->
                                <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
                                </ng-container>
                            
                                <!-- Empresa -->
                                <ng-container matColumnDef="Empresa">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.empresa}} </td>
                                </ng-container>
                            
                                <!-- Telefono -->
                                <ng-container matColumnDef="Telefono">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.telefono}} </td>
                                </ng-container>

                                <!-- Celular -->
                                <ng-container matColumnDef="Celular">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.celular}} </td>
                                </ng-container>

                                <!-- Correo -->
                                <ng-container matColumnDef="Correo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                                <td mat-cell *matCellDef="let contacto"> {{contacto.correo}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsContactos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsContactos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>

                    <!-- Documentos -->
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Documentos
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="plus">
                            <button mat-mini-fab [disabled]="!edicion" color="primary" (click)="openInsert('files')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en documentos de {{inmueble.subcategoria}} {{inmueble.nombre}}</mat-label>
                            <input matInput (keyup)="applyFilterDocumentos($event)" placeholder="Ex. Carro" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="documentos" matSort>
                            
                                <!-- Nombre del documento -->
                                <ng-container matColumnDef="Nombre del documento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del documento </th>
                                <td mat-cell *matCellDef="let documento"> {{documento.name}} </td>
                                </ng-container>

                                <!-- Acciones -->
                                <ng-container matColumnDef="Acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let documento"> 
                                    <a href="{{documento.path}}" download>Ver documento</a>
                                </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="aditional-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="encab">
                            <h1>Eventos</h1>
                            <mat-icon matSuffix>event</mat-icon>
                        </div>
                        <div class="plus mb-3">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('eventos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <mat-form-field>
                            <mat-label>Buscar en eventos</mat-label>
                            <input matInput (keyup)="applyFilterEventos($event)" placeholder="Buscar" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="eventos" matSort>
                            
                                <!-- Nota -->
                                <ng-container matColumnDef="Nota">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
                                <td mat-cell *matCellDef="let evento"> {{evento.nota}} </td>
                                </ng-container>
                        
                                <!-- Fecha -->
                                <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                <td mat-cell *matCellDef="let evento"> {{evento.fecha | date:'dd/MM/yyyy'}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsEventos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsEventos;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                                </tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="encab">
                            <h1>To-Do</h1>
                            <mat-icon matSuffix>checklist</mat-icon>
                        </div>
                        <div class="plus mb-5">
                            <button mat-mini-fab color="primary" [disabled]="!edicion" (click)="openInsert('todos')" [ngStyle]="{ 'background-color': colorBoton }">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="todos.filteredData" matSort>
                            
                                <!-- State -->
                                <ng-container matColumnDef="State">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let todo">
                                    <mat-checkbox class="example-margin" [disabled]="!edicion" [(ngModel)]="todo.state" color="primary"> {{ todo.state ? 'Listo' : 'Por hacer' }} </mat-checkbox>
                                  </td>
                                </ng-container>

                                <!-- Nombre -->
                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                    <td mat-cell *matCellDef="let todo"> {{todo.nombre}} </td>
                                </ng-container>

                                <!-- Fecha -->
                                <ng-container matColumnDef="Fecha">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                    <td mat-cell *matCellDef="let todo"> {{todo.fecha | date:'dd/MM/yyyy'}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsTodos"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsTodos;"></tr>
                            </table>
                            
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
