.table-content {
    margin-top: 35px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

    .principal-content {
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .card-header-foam {
          background: #345589;
          border-radius: 3px;
          margin-top: -20px;
          padding: 15px;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 136, 0.4);
          display: flex;
          align-items: center;
          justify-content: end;
        }
    }

  .createButton {
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
      width: 150px;
      border-radius: 10px;
      background: #ef8354;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-weight: 600;
      color: #fff;
      height: 45px;
    }
  }

  .card-body {
    background: #fff;
    margin-top: 1rem;
    padding: 15px;
  }

  .subtitle {
    border-bottom: 1px solid #ef8354;
    margin-bottom: 15px;
  }

  .porcentajeactivo {
    display: flex;
    align-items: center;
    justify-content: center;

    .porcen {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -1rem;
    }
  }
}