<app-loader *ngIf="loader"></app-loader>
<div class="table-content">
    <div class="principal-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header card-header-foam">
                            <h3>Nuevo registro</h3>
                        </div>
                        <div class="card-body">
                            <form id="activoForm" autocomplete="off" [formGroup]="activoForm" (ngSubmit)="create()">
                                <div class="subtitle">
                                    <h3>Datos principales</h3>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Categoría</mat-label>
                                            <mat-select (selectionChange)="onCategoriaChange($event.value)">
                                                <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Subcategoría</mat-label>
                                            <mat-select formControlName="subcategoria" (selectionChange)="onSubCategoriaChange()">
                                                <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.value">{{subcategoria.viewValue}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="seleccionSub">
                                    <div class="subtitle">
                                        <h3>Datos Generales</h3>
                                    </div>
                                    <div *ngFor="let fila of filas" class="row">
                                        <div class="col-6" *ngFor="let data of fila">
                                            <mat-form-field appearance="fill">
                                                <mat-label>{{data.viewValue}}</mat-label>
                                                <input matInput [formControlName]="data.value">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngIf="selectActive">
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <mat-label>¿Pertenece a una sociedad?</mat-label>
                                                <mat-select formControlName="sociedad_boolean" (selectionChange)="onSociedadChange($event.value)">
                                                    <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">{{opcion.viewValue}}</mat-option>
                                                </mat-select>
                                            </div>
                                            <div class="col-6">
                                                <div *ngIf="nomSociedad">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Selecciona la sociedad</mat-label>
                                                        <mat-select formControlName="nombre_sociedad">
                                                            <mat-option *ngFor="let sociedad of sociedades" [value]="sociedad.value">{{sociedad.viewValue}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-6">
                                                <div *ngIf="nomSociedad" class="porcentajeactivo">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Participación de activo</mat-label>
                                                            <input matInput placeholder="50%" formControlName="participacion">
                                                    </mat-form-field>
                                                    <div class="porcen">
                                                        <h3>%</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="createButton" *ngIf="seleccionSub">
                                    <button mat-stroked-button color="primary" type="submit">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>      
</div>