::ng-deep .mat-form-field-infix {
    display: flex !important;
  }

  .fc .fc-toolbar-title {
    color: #2c3f51;
}

.mat-dialog-container {
  width: 650px !important;
}

.navbar.navbar-absolute {
  z-index: 1000 !important;
}

.evento {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 5px;
}

.fc-daygrid-dot-event:hover {
  background: #345589;
  color: white;
}

.fc-theme-standard .fc-popover-header {
  background: hsl(217.94deg 26.98% 49.41%);
}

.crear {
  width: 165px;
  border-radius: 10px !important;
  background: #ef8354;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  font-weight: 600;
  color: #fff !important;
  height: 35px;
  text-align: center !important;
  margin: 0 10px !important;
}