.actions {
    display: flex;
    align-items: center;

    i {
      color: #ef8354;
      cursor: pointer;
    }
  }

table {
    width: 100%;

    form {
      margin: 25px;
    
      .loginbutton {
          display: flex;
          align-items: center;
          justify-content: center;
    
          .buttonadd {
              width: 300px;
          }
      }
    
      .text-center {
          text-align: center;
      }
    }
}

.buttonAgregar {
  width: 150px;
  border-radius: 10px;
  background: #ef8354;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  color: #fff;
  height: 45px;
}

.cancel {
  background: #bdbdbd !important;
}

.buttoncancel {
  margin-right: 25px;
}


.loader {
  background: #34558945;
  width: 100%;
  padding: 30px 15px;
  position: static;
  min-height: auto;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}

.mat-dialog-container {
  .custom-dialog {
    width: 1000px; /* Establece el ancho deseado */
    height: 400px; /* Establece la altura deseada */
  }
}

.containertab {
  margin: 10px 0;
  padding: 15px;
}
