<h2 mat-dialog-title>Recuérdame</h2>
<mat-dialog-content class="mat-typography">
    <div class="loader" *ngIf="loader">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <mat-tab-group *ngIf="!loader">
        <mat-tab *ngIf="documentos">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-2">visibility</mat-icon>
              Notificación
            </ng-template>
            <div class="containertab">                
                <div class="container-form">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre de Alarma" [(ngModel)]="reminder.nombre" disabled>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-6">
                            <p>
                                <mat-form-field appearance="fill">
                                    <mat-label>Tipo de evento</mat-label>
                                    <mat-select [(ngModel)]="reminder.tipo_evento" disabled>
                                        <mat-option *ngFor="let evento of tipoEventos" [value]="evento.value">{{evento.viewValue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="reminder.fecha" disabled>
                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Periodicidad</mat-label>
                                <mat-select [(ngModel)]="reminder.periocidad" disabled>
                                    <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Valor</mat-label>
                                <input matInput placeholder="1.000" [(ngModel)]="reminder.valor" disabled>
                                <mat-icon matSuffix>attach_money</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngIf="!documentos && !isNew">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2">date_range</mat-icon>
                Alarmas
            </ng-template>
            <div class="containertab">
                <mat-form-field>
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="reminders" matSort>
                    
                        <!-- Nombre -->
                        <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del evento </th>
                        <td mat-cell *matCellDef="let reminder"> {{reminder.nombre}} </td>
                        </ng-container>
    
                        <!-- Tipo de evento -->
                        <ng-container matColumnDef="Tipo evento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo evento </th>
                        <td mat-cell *matCellDef="let reminder"> {{reminder.tipo_evento}} </td>
                        </ng-container>
                    
                        <!-- Fecha -->
                        <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let reminder"> {{reminder.fecha | date:'dd/MM/yyyy'}} </td>
                        </ng-container>
    
                        <!-- Periocidad -->
                        <ng-container matColumnDef="Periocidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Periodicidad </th>
                        <td mat-cell *matCellDef="let reminder"> {{reminder.periocidad}} </td>
                        </ng-container>
    
                        <!-- Acciones -->
                        <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let reminder">
                            <div class="actions">
                                <i class="material-icons" (click)="deleteReminder(reminder)">delete</i>
                                <!-- <mat-slide-toggle [(ngModel)]="reminder.state">{{reminder.state}}</mat-slide-toggle> -->
                            </div>
                        </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encontró resultados para "{{input.value}}"</td>
                        </tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginas de activos"></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngIf="!isReminder">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon mr-2">more_time</mat-icon>
              Nuevo
            </ng-template>
            <div class="containertab">                
                <div class="container-form">
                    <form id="reminder_form" autocomplete="off" [formGroup]="reminder_form" (ngSubmit)="saveReminder()">
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Nombre del evento</mat-label>
                                        <input matInput placeholder="Nombre de Alarma" formControlName="nombre">
                                        <mat-icon matSuffix>notification_important</mat-icon>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Tipo de evento</mat-label>
                                        <mat-select formControlName="tipo_evento">
                                            <mat-option *ngFor="let evento of tipoEventos" [value]="evento.value">{{evento.viewValue}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Periodicidad</mat-label>
                                    <mat-select formControlName="periocidad" >
                                        <mat-option *ngFor="let periocidad of periocidadTypes" [value]="periocidad.value">{{periocidad.viewValue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Valor</mat-label>
                                    <input matInput placeholder="1.000" formControlName="valor" (input)="formatCurrency($event)">
                                    <mat-icon matSuffix>attach_money</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-6" *ngIf="!isNew">
                                <mat-form-field appearance="fill">
                                    <mat-label>Crear en To-Do</mat-label>
                                    <mat-select formControlName="todo">
                                        <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">{{opcion.viewValue}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="buttoncancel">
        <button mat-button mat-dialog-close class="buttonAgregar cancel">Cerrar</button>
    </div>
    <button mat-stroked-button class="buttonAgregar" color="primary" type="submit" (click)="saveReminder()">Agregar</button>
</mat-dialog-actions>