.center-content {
    background: #fff;
    width: 100%;
    min-height: 37rem;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    padding: 0;

    .fondo-img {
        background-image: url(/assets/img/fondologin.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .account {
        color: #000;
        text-align: end;
        padding: 10px;
        margin: 0;

        p {
            color: #000;
            font-size: 18px;
            font-weight: 600;

            a {
                color: #1C3477;
                font-weight: 400;
                cursor: pointer;
            }

        }

    }

    .logo-img {
        margin: 0px auto;

        img {
            width: 160px;
        }
    }

    .principal {
        padding: 30px;
        width: 90%;
        margin: 0rem auto;

        .input-verify {

            margin: 2rem auto;

            .mat-form-field {
                width: 100%;
    
                ::ng-deep .mat-form-field-flex {
                    border-radius: 10px;
                    border: 2px solid #E0E0E0;
                    background: #FEFEFE;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    color: #000;
                }
    
                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }
        }

        h2 {
            color: #000;
            font-size: 34px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .back {
            color: #1C3477;
            margin-bottom: 2rem;
            cursor: pointer;

            p {
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                line-height: normal;
            }

            i {
                font-size: 30px;
                margin-right: 1rem;
            }
        }

        .loginbutton {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 400px;
                border-radius: 10px;
                background: #1C3477;
                color: #fff;
                height: 50px;
            }
        }
    }

    .card-footer {

        border-top: none !important;
        padding: 0 !important;
        margin-top: 3rem;

       p {
        color: #000;
       }

       ul {
        color: #000;
       }

    }
}