<app-loader *ngIf="loader"></app-loader>
<div class="center-content">
    <div class="card-body">
        <div class="logo-img">
            <img src="/assets/img/namelogo.png"/>
        </div>
        <div class="principal">
            <div class="back" (click)="back()">
                <p><i class="material-icons">arrow_back</i> Regresar</p>
            </div>
            <h2>Ingresa el correo registrado en la plataforma</h2>
            <div class="input-verify">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="jose@gmail.com" [(ngModel)]="email">
                </mat-form-field>
            </div>
            <div class="loginbutton">
                <button mat-stroked-button class="testp" color="primary" type="submit" (click)="verifyEmail()">Verificar</button>
            </div>
        </div>
    </div>
    <div class="fondo-img">
    </div>
</div>