.table-content {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

  .principal-content {
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .card-header-foam {
          background: #345589;
          border-radius: 3px;
          margin-top: -20px;
          padding: 15px;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(52, 85, 136, 0.4);
          display: flex;
          align-items: center;
          justify-content: end;
        }

        .seccionfoam {
            background: white;
            padding: 20px;
            border-radius: 20px;
            height: 100%;

            .col-4 {
                display: flex;
                align-items: center;
                justify-content: center;

                .logoseccion {
                    width: 100px;
                }
            }

            .contentseccion {

                .title {
                    color: #466185;
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    color: #466185;
                }

                .buttonseccion {
                    border: solid #425e86a8;
                    width: 25%;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    cursor: pointer;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    
    }
}