<div class="table-content">
    <div class="principal-content" #content>
        <div class="container-fluid">
            <div class="card-header card-header-foam mb-3">
                <h3>Soporte</h3>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="seccionfoam">
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/img/whatsapp.png" class="logoseccion" />
                            </div>
                            <div class="col-8">
                                <div class="contentseccion">
                                    <p class="title">Whatsapp</p>
                                    <p>Contamos con un canal de Whatsapp donde podrás contar con un asesor para cualquier duda que tengas.</p>
                                    <div class="buttonseccion">
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone=573108050349&text=Hola,%20necesito%20soporte%20en%20mi%20plataforma.%20"><p>Ir</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="seccionfoam">
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/img/email.png" class="logoseccion" />
                            </div>
                            <div class="col-8">
                                <div class="contentseccion">
                                    <p class="title">Email</p>
                                    <p>Contamos con un canal de correo electrónico donde podrás dejarnos cualquier inquietud o solicitud.</p>
                                    <div class="buttonseccion">
                                        <p>Ir</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
