.card-item {
    background: #345589;
}

.name {
    margin: 10px 0;
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

h1 {
    color: #466185;
    font-weight: bold;
    font-size: 35px;
}

.seccionfoam {
    background: white;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

.col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoseccion {
    width: 100px;
}

.title {
    color: #466185;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: #466185;
}

.buttonseccion {
    border: solid #425e86a8;
    width: 25%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.buttonseccion p{
    margin: 0;
}