<div class="main-content">
  <div class="container-fluid">
      <div class="row name">
          <h1>Hola, {{user.first_name}}</h1>
      </div>
        <div class="row mb-3">
            <div class="col-6">
                <div class="seccionfoam">
                    <div class="row">
                        <div class="col-4">
                            <img src="/assets/img/list.png" class="logoseccion" />
                        </div>
                        <div class="col-8">
                            <div class="contentseccion">
                                <p class="title">Qué tengo</p>
                                <p>Encuentra todos tus activos y lleva el control de cada categoría.</p>
                                <div class="buttonseccion" (click)="accesoDirecto('what-have')">
                                    <p>Ir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="seccionfoam">
                    <div class="row">
                        <div class="col-4">
                            <img src="/assets/img/recuerdame.png" class="logoseccion" />
                        </div>
                        <div class="col-8">
                            <div class="contentseccion">
                                <p class="title">Recuérdame</p>
                                <p>Visualiza cada alarma que tengas programada.</p>
                                <div class="buttonseccion" (click)="accesoDirecto('calendar-user')">
                                    <p>Ir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="seccionfoam">
                    <div class="row">
                        <div class="col-4">
                            <img src="/assets/img/manual.png" class="logoseccion" />
                        </div>
                        <div class="col-8">
                            <div class="contentseccion">
                                <p class="title">Cómo usar FOAM?</p>
                                <p>¿Tienes dudas? Aquí encontrarás el manual de uso de tu plataforma.</p>
                                <div class="buttonseccion" (click)="accesoDirecto('manual')">
                                    <p>Ir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</div>
