<app-loader *ngIf="loader"></app-loader>
<div class="table-content" *ngIf="!loader">
    <div class="principal-content">
        <div class="editButton">
            <button mat-stroked-button color="primary" class="mr-3" (click)="openRemember()" type="submit">Nuevo Recuérdame</button>
        </div>
        <div class="container-fluid">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>
</div>