.table-content {
    margin-top: 60px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);

  .principal-content {
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);

        .editButton {
          margin-bottom: 10px;
          display: flex;
          align-items: end;
          justify-content: end;

          button {
            width: 150px;
            border-radius: 10px;
            background: #ef8354;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-weight: 600;
            color: #fff;
            height: 45px;
          }
          
        }
    }
}

#modal .modal-backdrop {
  background-color: #00000070 !important;
}
