<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-profile">
                      <h4 class="card-title">Perfil {{user.first_name}}</h4>
                      <p class="card-category">Edita tu perfil</p>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Primer Nombre" [(ngModel)]="user.first_name" [disabled]="!edicion">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Segundo Nombre" [(ngModel)]="user.second_name" [disabled]="!edicion">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Primer Apellido" type="email" [(ngModel)]="user.firs_last_name" [disabled]="!edicion">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Segundo Apellido" type="text" [(ngModel)]="user.second_last_name" [disabled]="!edicion">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Tipo de documento</mat-label>
                                  <mat-select [(ngModel)]="user.type_document" [disabled]="!edicion">
                                      <mat-option *ngFor="let documento of documentsTypes" [value]="documento.value">{{documento.viewValue}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Número de documento" type="text" [(ngModel)]="user.document_number" [disabled]="!edicion">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                  <mat-label>Fecha de nacimiento</mat-label>
                                  <input matInput [matDatepicker]="picker" [(ngModel)]="user.born_date" [disabled]="!edicion" (dateChange)="calcularEdad()">
                                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Teléfono" type="text" [(ngModel)]="user.number_phone" [disabled]="!edicion">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Edad" type="number" [(ngModel)]="user.age" [disabled]="true">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" type="text" [(ngModel)]="user.email" [disabled]="!edicion">
                                </mat-form-field>
                              </div>
                          </div>
                          <button *ngIf="!edicion" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="actualizarUser()">Actualizar mi perfil</button>
                          <button *ngIf="edicion" mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="guardar()">Guardar</button>
                          <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
